* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background-color: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home {
    background-color: #f6f1f1;
    width: 100vw;
    height: 100vh;
    position: relative;
}

nav .fa-angle-left {
    color: rgb(6, 208, 6);
    padding: 3vw;
    font-size: 5vw;
}

.home-body {
    padding: 0 10vw;
}

.home-nav {
    margin: 2vh;
    line-height: 1.4;
    width: 65vw;
    margin-left:  6.2vw;
}

.home-nav p {
    font-size: 2.6vw;
    opacity: 0.7;
}

.home-nav .navbar {
    display: flex;
    justify-content: space-between;
}

.home-nav .navbar h1 {
    font-weight: 500;
    font-size: 5.5vw;
}

.home-amount{
    margin: 6vh 0 2vh;
}

.home-body h1 {
    font-size: 5.6vw;
    text-align: center;
}

.text-amount {
    border: 0.4vh solid rgb(255, 193, 7);
    margin: 3vh 8.5vw;
    border-radius: 0.5rem;
    padding: 1.7vh 3vw;
}

.text-amount h1 {
    font-size: 7vw;
    text-align: end;
}

.percentage-data {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 0 6vw;
}

.percentage {
    background-color: rgb(255, 193, 7);
    border-radius: 50%;
    width: 13.5vw;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 50px;
}

.percentage h4 {
    font-size: 4vw;
    font-weight: 700;
}

.percentage .other{
    font-size: 3.2vw;
    font-weight: 700;
}

.percentage p {
    font-size: 2.8vw;
}

.show-amount {
    margin:  7vh 7vw;
}

.show-amount h1 {
    background-color: rgb(255, 193, 7);
    border-radius: 0.5rem;
    padding: 2vh;
    font-weight: 500;
    text-align: center;
    border: 0.4vh solid rgb(6, 208, 6);
    font-size: 8vw;
}


footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.recet, .comps-apply {
    display: flex;
    align-items: center;
}

.recet p{
    font-size: 2vw;
    background-color: rgb(255, 193, 7);
    margin: 0 1vw;
    padding: 0.8vh 1.5vw;
    opacity: 0.8;
}
.comps-apply p{
   font-size: 2.8vw;
    margin: 0 1vw; 
    opacity: 0.7;
}

.fa-calculator,
.fa-file-invoice {
    background-color: rgb(255, 193, 7);
    padding: 2.7vw;
    font-size: 7vw;
}


#popupOverlay {
   display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.7); 
  justify-content: center;
  align-items: center;
  z-index: 1000;     
}
.calc-frame {
  width: 60vw;
  height: 80vh;
  border: none;
  border-radius: 10px;

}

.cancel-icon {
  position: absolute;
  top: 3vh;
  right: 5vw;
  font-size: 5vw;
  color: white;
  cursor: pointer;
}