* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background-color: #ddd;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home {
    background-color: #f6f1f1;
    width: 90vw;
    
}

nav .fa-angle-left {
    color: rgb(6, 208, 6);
    padding: 1vw;
    font-size: 6vw;
}

.home-body {
    padding: 3vh;
}

.home-nav {
    margin-bottom: 2vh;
    line-height: 1.4;
}

.home-nav p {
    font-size: 3vw;
}

.home-nav .navbar {
    display: flex;
    justify-content: space-between;
}

.home-nav .navbar h1 {
    font-weight: 500;
    font-size: 4vw;
}

.home-body h1 {
    font-size: 4.5vw;
    margin-top: 2vh;
}

.text-amount {
    border: 0.4vh solid rgb(255, 193, 7);
    margin: 2vh 0;
    border-radius: 0.5rem;
    padding: 1vh 2vw;
}

.text-amount h1 {
    font-size: 5vw;
    text-align: end;
}

.percentage-data {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 2vw;
}

.percentage {
    background-color: rgb(255, 193, 7);
    border-radius: 50%;
    width: 12vw;
    height: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 50px;
    min-height: 50px;
}

.percentage h4, .other {
    font-size: 3.5vw;
}

.percentage p {
    font-size: 3vw;
}

.show-amount {
    margin: 4vh;
}

.show-amount h1 {
    background-color: rgb(255, 193, 7);
    border-radius: 0.2rem;
    padding: 1vh;
    font-weight: 500;
    text-align: center;
    border: 0.4vh solid rgb(6, 208, 6);
}

.show-amount p {
    font-size: clamp(0.8rem, 2.5vw, 1.2rem); 
    text-align: center;
    margin-top: 0.4rem;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.recet, .comps-apply {
    display: flex;
    align-items: center;
}

.recet p,  .comps-apply p{
    font-size: 3vw;
    background-color: rgba(193, 146, 3, 0.663);
    margin: 0 1vw;
}

.fa-calculator,
.fa-file-invoice {
    background-color: rgba(193, 146, 3, 0.663);
    padding: 1vh;
    font-size: 5vw;
}


#popupOverlay {
   display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: #110f0fda; 
  justify-content: center;
  align-items: center;
  z-index: 1000;     
}
.calc-frame {
  width: 60vw;
  height: 60vh;
  border: none;
  border-radius: 20px;

}

.cancel-icon {
  position: absolute;
  top: 3vh;
  right: 10vw;
  font-size: 3vw;
  color: white;
  cursor: pointer;
}