html, body {
    min-height: 100%;
    width: 100%;
    background-color: #ffffff;
}

.total-due{
    padding: 3vh 11vw;
    opacity: 0.8;
    position: relative;
}

.due-value{
    padding: 4.5vh 1vw;
    display: inline-block;
}

.due-val{
    display: grid;
    grid-template-columns: 2fr 1fr;
    line-height: 1.5;
}

.due-val p{
    text-align: end;
    font-size:5.9vw;
}

.total-due hr {
    width: 79%;        
    border: none;      
    border-top: 3px solid #000;  
    margin: 10px 0;   
    justify-self: end;
}

.due-val .final-total{
    font-weight: bold;
    font-size: 6.7vw;
}

.total-due .success{
    justify-self: center;
    /* margin: 1vh 0; */
}

.total-due .success button{
    width: 47vw;
    background-color: rgb(255, 193, 7);
    border: none;
    font-size: 5.5vw;
    padding: 1vh 0;
}

.text{
    line-height: 1.3;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 1vh 11vw;
}

.text p{
    font-size: 3.7vw;
    text-align: center;
}

.text .auto{
    padding: 2vh 0;
}

.text button{
    width: 16vw;
    background-color: rgb(255, 193, 7);
    border: none;
    font-size: 2.8vw;
    padding: 0.7vh 0;
    margin: 1vh 2vw;
}

.credit-card-3{
    text-align: center;
}
.credit-card-3 .error{
    color: red;
    font-size: 5.9vw;
    margin-top: 10vh;
}

.credit-card-3 .error-1{
    color: red;
    font-size: 5.9vw;
    margin-top: 10vh;
    line-height: 1.5;

}

.credit-card-3 .try-again{
    font-size: 5vw;
    margin-bottom: -18vh;
    margin-top: 1vh;
}
.credit-card-3 .success-retry button{
    width: 40vw;
    background-color: rgb(255, 193, 7);
    border: none;
    font-size: 5.5vw;
    padding: 1vh 0;
    margin-top: 20vh;
}

/* progress bar css */
