html, body {
    /* overflow: hidden; */
    min-height: 100%;
    width: 100%;
    background-color: #ffffff;
}

.total-due{
    padding: 3vh 11vw;
    opacity: 0.8;
    position: relative;
}

.due-value{
    padding: 4.5vh 1vw;
    display: inline-block;
}

.due-val{
    display: grid;
    grid-template-columns: 2fr 1fr;
    line-height: 1.5;
}

.due-val p{
    text-align: end;
    font-size:5.7vw;
}

.total-due hr {
    width: 77%;        
    border: none;      
    border-top: 3px solid #000;  
    margin: 10px 0;   
    justify-self: end;
}

.due-val .final-total{
    font-weight: bold;
    font-size: 6.7vw;
}

.total-due .success{
    justify-self: center;
    margin: 1vh 0;
}

.total-due .success button{
    width: 40vw;
    background-color: rgb(255, 193, 7);
    border: none;
    font-size: 5.5vw;
    padding: 1vh 0;
}

.text{
    line-height: 1.3;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 1vh 11vw;
}

.text p{
    font-size: 3.7vw;
    text-align: center;
}

.text .auto{
    padding: 2vh 0;
}

.text button{
    width: 16vw;
    background-color: rgb(255, 193, 7);
    border: none;
    font-size: 2.8vw;
    padding: 0.7vh 0;
    margin: 1vh 2vw;
}

.credit-card-3{
    text-align: center;
}
.credit-card-3 .error{
    color: red;
    font-size: 5.2vw;
    margin-top: 14vh;
}

.credit-card-3 .try-again{
    font-size: 5vw;
    margin-bottom: -18vh;
    margin-top: 1vh;
}
.credit-card-3 .success-retry button{
    width: 40vw;
    background-color: rgb(255, 193, 7);
    border: none;
    font-size: 5.5vw;
    padding: 1vh 0;
    margin-top: 20vh;
}

/* progress bar css */
.authorization-box {
    width: 87%;
    margin: 0 auto 4vh;
    background: white;
    border: 2px solid #999;
}

.auth-title {
    background: #003cd1;
    color: white;
    padding: 1vh;
    margin: 0 0 1vh;
    font-size: 5vw;
}

.auth-sub {
    font-size: 4vw;
    margin-bottom: 2vh;
    padding: 0 1vw;
}

.progress-wrapper {
    width: 96%;
    height: 4vh;
    border: 1px solid #aaa;
    background: #e6e6e6;
    margin: 0 1vw;
}

.progress-fill {
    height: 100%;
    width: 0%;
    background: #45c845;
    animation: fillBar 4s forwards linear;
}

@keyframes fillBar {
    from { width: 0%; }
    to { width: 100%; }
}

.cancel-btn {
    width: 50%;
    display: block;
    margin: 1.5vh auto;
    background: #ccc;
    border: 1px solid #000;
    padding: 1vh 0;
    font-size: 4vw;
}