* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
   
    overflow: hidden;
    height: 100%;
    width: 100%;
     background-color: #f6f1f1;
}

.home {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    min-height: 100vh;
}

nav .fa-angle-left {
    color: rgb(6, 208, 6);
    padding: 4vw;
    font-size: 6vw;
}

.home-body {
    padding: 0 9vw;
}

.home-nav {
    margin: 2vh;
    line-height: 1.4;
    width: 75vw;
}

.home-nav p {
    font-size: 3vw;
    opacity: 0.7;
}

.home-nav .navbar {
    display: flex;
    justify-content: space-between;
}

.home .home-nav .navbar h1 {
    font-weight: 500;
    font-size: 6vw;
}
.home-nav .navbar input {
    background: transparent;
    border: none;
    width: 25vw;
    text-align: end;
    font-size: 5vw;
}
.home-nav .navbar input:focus{
    outline: none;
}

.home-amount{
    margin: 7vh 0 2vh;
}

.home .home-body h1 {
    font-size: 6.3vw;
    text-align: center;
}

.home .text-amount {
    border: 0.4vh solid rgb(255, 193, 7);
    margin: 3vh 7vw;
    border-radius: 0.5rem;
    padding: 1vh 3vw;
}

.home .text-amount h1 {
    font-size: 7.3vw;
    text-align: end;
}

.percentage-data {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 0 6vw;
}

.percentage {
    background-color: rgb(255, 193, 7);
    border-radius: 50%;
    width: 15vw;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 50px;
}

.percentage h4 {
    font-size: 4.3vw;
    font-weight: 700;
}

.percentage .other{
    font-size: 4vw;
    font-weight: 700;
}

.percentage p {
    font-size: 3.2vw;
}

.show-amount {
    margin:  6vh 8vw;
}

.show-amount h1 {
    background-color: rgb(255, 193, 7);
    border-radius: 0.5rem;
    padding: 2vh;
    font-weight: 500;
    text-align: center;
    border: 0.4vh solid rgb(6, 208, 6);
    font-size: 7vw;
}


footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    /* background-color: #f6f1f1; */
    /* max-width: 100%; */
 }

.recet, .comps-apply {
    display: flex;
    align-items: center;
}

.recet p{
    font-size: 2vw;
    background-color: rgb(255, 193, 7);
    margin: 0 1vw;
    padding: 0.8vh 1.5vw;
    opacity: 0.8;
}
.comps-apply p{
   font-size: 2.8vw;
    margin: 0 1vw; 
    opacity: 0.7;
}

.fa-calculator,
.fa-file-invoice {
    background-color: rgb(255, 193, 7);
    padding: 2.7vw;
    font-size: 7vw;
}


#popupOverlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;   
  overflow: hidden;  
}
.calc-frame {
  width: 80vw;
  height: 80vh;
  border: none;

}

.cancel-icon {
  position: absolute;
  top: 3vh;
  right: 5vw;
  font-size: 5vw;
  color: white;
  cursor: pointer;
}

.confirm-tip-calc-frame{
     width: 70vw;
  height: 60vh;
  border: none;
}

.confirm-tip-amount .popup-overlay{
    padding: 4vh 7.5vw;
    text-align: center;
}
.confirm-tip-calc-frame .confirm-tip-amount .popup-overlay h1{
    margin-bottom: 1.5vh;
    font-size: 5.5vw;
}
.confirm-tip-amount .popup-overlay p{
    font-size: 4.5vw;
    padding: 1vh 0;
    line-height: 1.3;
}

.confirm-tip-calc-frame .continue-btns{
    justify-self: center;
    width: 45vw;
}
