.comp-current-value {
    padding: 12vh 0;
    text-align: center;
}

.comp-current-value h1{
    font-size: 5.5vw;
    color: rgb(49, 49, 49);
}

.comp-current {
    padding: 4vh 0;
}

.current-value {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    width: 50%;        
    margin: 0 auto;     
    padding: 4px 0;
    font-size: 4.8vw;
    color: rgb(49, 49, 49);
}

.current-value .key {
    margin: 0;
    text-align: end;
    color: rgb(49, 49, 49);
}

.current-value .value {
    font-weight: 600;
    text-align: left;
    color: rgb(49, 49, 49);
}

.current-value div {
    text-align: left;
    line-height: 1.3;
}

.date{
    font-size: 2.6vw;
    opacity: 0.8;
}

.comp-current-value button{
     background-color: rgb(255, 193, 7);
    border: none;
    width: 62vw;
    font-size: 4.5vw;
    padding: 1vh 0;
    margin: 1.5vh auto;
}
