
html, body {
    min-height: 100%;
    width: 100%;
    background-color: #ffffff;
}
.payment-complete-swipe{
    padding: 13vh 5vw;
    text-align: center;
    opacity: 0.8;
}
.payment-complete-swipe h1{
    padding: 1vh 0;
    font-size: 5.8vw;
}

.amount{
    font-size: 4.7vw;
}

.payment-complete-swipe h2{
    font-size: 5.7vw;
    padding: 1vh 0;
}

.payment-complete-swipe .take-receipt{
    font-size: 4.7vw;
    padding: 3vh 0;
}

.take-account{
    font-size: 4.9vw;
    padding: 2.3vh 0;
}

.success button{
  background-color: rgb(255, 193, 7);
    border: none;
    font-size: 5vw;
    padding: 1vh 6vw;
    margin: 0.8vh 0;
    width: 52vw;
}

.check-card{
    margin-top: 3.3vh;
    line-height: 0.8;
}

.check-card h1{
    font-size: 4.9vw;
    font-style: italic;
}

.check-card p{
    font-size: 3.8vw;
}
.swap-failed{
    color: red;
    font-size: 5.5vw;
    margin-top: 1.6vh;
}

