
html, body {
    min-height: 100%;
    width: 100%;
    background-color: #ffffff;
}
.success-dollar{
    padding: 13vh 9vw;
    text-align: center;
    opacity: 0.8;
}
.success-dollar h1{
    padding: 3.5vh 0;
    font-size: 4.8vw;
}

/* .amount{
    line-height: 1.3;
}

.amount h2{
    font-size: 4.8vw;
} */
.amount p{
    font-size: 4.8vw;
}

/* .payment-complete .take-receipt{
    font-size: 4.6vw;
    padding: 3vh 0;
} */

.receipt{
    padding-top: 24vh;
}

.receipt .get-receipt{
    font-size: 5.3vw;
}

.receipt .link{
    font-size: 3.9vw;
}

.receipt button{
    background-color: rgb(255, 193, 7);
    border: none;
    font-size: 6vw;
    padding: 1vh 6vw;
    margin: 2vh 0;
}