.swipe-failed{
    padding: 10vh 6vw;
        text-align: center;
}
.swipe-failed p{
    color: red;
    font-size: 5.8vw;
}
.swipe-failed button{
    font-size: 8vw;
    background-color: rgb(255, 193, 7);
    padding: 1.2vh 0;
    border: none;
    width: 61vw;
    margin: 5vh 0;
    color: rgb(61, 61, 61);
}